/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
    margin:0;
    padding:0;
    color:#000000;
    text-align:center;
    text-decoration: none;
    background-image:url("../boy-1846310_1280.jpg");
    /* 画像を常に天地左右の中央に配置 */
    background-position: center center;
    /* 画像をタイル状に繰り返し表示しない */
    background-repeat: no-repeat;
    /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
    background-attachment: fixed;
    /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
    background-size: cover;
}

h1{
    padding:5px;
    color:#FFFFFF;
    display:inline;
}

a{
    color:#000000;
}

a:hover{
    text-decoration: none;
}

#headeline{
    font-size:7em;
    margin-top:12%;
}

.picture{
    max-width:50%;
}

.frame{
    background-color:#FFFFFF;
    color:#000000;
    height:580px;
}

.my-table{
    color:#000000;
}

.my-table td {
  border: solid 1px #000000;
  text-align:left;
}

.active{
    background-color:#c0c0c0;
}

html,body{
    height: 100%;
}
.container{
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}
main{
    padding-bottom: 50px;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}