<header class="bg-dark">
  <h1>
  <%= link_to 'PhotoSpace', root_path %>
  </h1>
  <ul>
    <li class="nav-item"><%= link_to 'Login', signup_path, class: 'nav-link' %></li>
    <li class="nav-item"><%= link_to 'Sign up', signup_path, class: 'nav-link' %></li>
  </ul>
</header>